version: '3'

services:
  dev:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: python -m unittest discover tests -v

  coverage:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    command: >
      sh -c "coverage run -m unittest discover tests &&
             coverage report --fail-under=100"

  shell:
    build: .
    volumes:
      - .:/app
    working_dir: /app
    stdin_open: true
    tty: true
    command: /bin/bash
